version: "3.7"
services:
  bot:
    image: ghcr.io/modmail-dev/modmail:master
    restart: always
    env_file:
      - .env
    environment:
      - CONNECTION_URI=mongodb://mongo
    depends_on:
      - mongo
  viewer:
    image: ghcr.io/khakers/modmail-viewer:latest
    depends_on:
      - mongo
    env_file:
      - .env
    ports:
      - "80:80"
    environment:
      # Replace with mongodb URI
      - "MODMAIL_VIEWER_MONGODB_URI=mongodb://mongo:27017"
      # The URL you use to reach modmail-viewer
      - "MODMAIL_VIEWER_URL=http://127.0.0.1"
  # Comment out if not using
  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb:/data/db

volumes:
  mongodb:
