.timestamp {
    color: rgb(163, 166, 170);
}

blockquote {
    border-left: 5px solid rgba(123, 123, 123, 0.8);
    padding: 0 10px;
    border-radius: 3px;
}

blockquote p {
    display: inline;
}

code {
    background-color: #f3f3f3;
    border-radius: 3px;
    padding: 0.2em;
    white-space: pre-wrap;
}

.spoiler {
    border-radius: 3px;
    background-color: rgb(220, 221, 222);
    transition: all .1s ease;
}

.spoiler.hidden:hover {
    background-color: rgb(62, 63, 68);
}

.spoiler.hidden {
    background-color: rgb(32, 34, 37);
}
.spoiler.hidden .content {
    opacity: 0;
    pointer-events: none;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}