/*.timestamp {*/
/*    color: rgb(163, 166, 170);*/
/*}*/

blockquote {
    border-left: 5px solid rgba(123, 123, 123, 0.8);
    padding: 0 10px;
    border-radius: 3px;
}

blockquote p {
    display: inline;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}

code {
    /*background-color: #f3f3f3;*/
    background-color: var(--bs-secondary-bg);
    color: var(--bs-emphasis-color);
    border-radius: 3px;
    padding: 0.2em;
    white-space: pre-wrap;
}

.spoilerText {
    border-radius: 3px;
    background-color: var(--bs-secondary-bg);
    transition: all .1s ease;
    padding: 0 2px;
}

[data-bs-theme=light] .spoilerText.hidden:hover {
    background-color: rgb(74, 75, 80);
}

[data-bs-theme=light] .spoilerText.hidden {
    background-color: rgb(32, 34, 37);
}

[data-bs-theme=dark] .spoilerText.hidden:hover {
    background-color: rgb(74, 75, 80);
}

[data-bs-theme=dark] .spoilerText.hidden {
    background-color: rgb(60, 64, 70);
}

.spoilerText.hidden .content {
    opacity: 0;
    pointer-events: none;
}

img.emoji {
    height: 1.375em;
    width: 1.375em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.image {
    max-width: 256px;
    max-height: 256px;
}


div.spoilerImage {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

div.spoilerImage img {
    vertical-align: bottom;
    filter: blur(30px);
    transition: 0.3s;
}

.spoilerImageButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    line-height: 3rem;
    width: 50%;
    padding: 0 1rem;
    font-size: 1rem;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.spoilerImageButton:hover {
    background-color: rgb(74, 75, 80);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .spoilerImageButton {
        display: none;
    }
}

div.spoilerImage input {
    width: 0;
    height: 0;
}

div.spoilerImage input:checked ~ img {
    filter: none;
}

div.spoilerImage input:checked, div.spoilerImage input:checked ~ label {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    div.spoilerImage input, .spoilerImageButton {
        display: none;
    }
}

.tooltip {
    --bs-tooltip-opacity: 1.0;
}

.timestamp {
    /*background-color: #858585;*/
    /*background-color: #B5B5B5;*/
    background-color: var(--bs-secondary-bg);
    border-radius: 3px;
    padding: 0 2px;
}

.userMention {
    background-color: rgba(88, 101, 242, 0.3);
    border-radius: 3px;
    padding: 0 2px;
}

.userMention:hover {
    /*background-color: rgb(88, 101, 242);*/
    background-color: #828cf7;
    color: rgb(255, 255, 255)
}


.channelMention {
    background-color: rgba(88, 101, 242, 0.3);
    border-radius: 3px;
    padding: 0 2px;
}

.channelMention:hover {
    /*background-color: rgb(88, 101, 242);*/
    background-color: #828cf7;
    color: rgb(255, 255, 255)
}

.merge-below {
    border-bottom-style: hidden;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.merge-above {
    border-top-style: hidden;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-top: 59px;
}

.footer a {
    --bs-icon-link-transform: translate3d(0, -.125rem, 0);
}

#nsfw-backdrop {
    backdrop-filter: blur(75px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1020;
    width: 100vw;
    height: 100vh;
}

.discord {
    background-color: #7289da;
}